src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1b6e62d-bd42-4396-81f8-a838583469aa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e64bf533-1e66-44c1-96fe-d703a3d08285" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="5e3d02c8-141c-43bf-9c2b-a233d47c42a1" >
		<http:listener doc:name="Listener" doc:id="ce747568-6e72-4a8f-92d7-626c9a126871" config-ref="HTTP_Listener_config" path="/timezone/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="12754f89-cfed-4bf7-a0c3-dc16440d3cd1" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
